In [1]:
# Importing libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd

In [2]:
# Loading the datas
stores_data = pd.read_csv("stores_data_set.csv")
features_data = pd.read_csv("Features_data_set.csv",parse_dates=["Date"], dayfirst=True)
sales_data = pd.read_csv("sales_data_set.csv",parse_dates=["Date"], dayfirst=True)

In [3]:
# Merging all the 3 dataframes
df= pd.merge(sales_data,features_data, on=['Store','Date',"IsHoliday"], how='left')
df=pd.merge(df,stores_data, on=['Store'], how='left')

In [4]:
df=df.fillna(0)

In [5]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,A,151315

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.head(1)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.5,False,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,A,151315

In [8]:
import datetime

In [9]:
df["Month"] = df["Date"].dt.month
df["Year"]  = df["Date"].dt.year
df["Week"]  = df["Date"].dt.isocalendar().week

In [10]:
df.drop(['Date'],axis=1,inplace=True)

In [11]:
df.isnull().sum()

Store           0
Dept            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
Month           0
Year            0
Week            0
dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
df['Type']= LabelEncoder().fit_transform(df['Type'])
df['IsHoliday']= LabelEncoder().fit_transform(df['IsHoliday'])

In [13]:
# Importing libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [14]:
# Defining independent and dependent variables
x = df[['Store','Dept','IsHoliday','Size','Month','Year','Week','Type']]
y = df['Weekly_Sales']

In [15]:
scaler = StandardScaler()
x = scaler.fit_transform(x)
# train and test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
rfr = RandomForestRegressor()
model = rfr.fit(x_train,y_train)
y_pred = model.predict(x_test)
# evalution metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean squared error:', mse)
print('R-squared:', r2)

Mean squared error: 13060830.51951581
R-squared: 0.974953869538478

In [16]:
y_pred

array([50408.6124,  3262.1352, 10620.1927, ..., 19650.9752, 11851.7978,
       55336.9867])

In [17]:
import pickle
with open('s_model.pkl', 'wb') as file:
    pickle.dump(model, file)
with open('s_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)